<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Play Tic Tac Toe</title>
    <link rel="stylesheet" href="/styles/main.css"/>
</head>
<body>
    <h1 class="space-medium">Tic Tac Toe</h1>
    <main class="cf">
        <section class="grid cf">
            <div th:each="mark, iterStat : ${marks}" class="cell">
                <p th:if="${mark.isEmpty() and gameStatus != 'Active'}"></p>
                <a th:if="${mark.isEmpty() and gameStatus == 'Active'}"
                   th:href="@{'/game/' + ${webUIId}(position=${iterStat.index})}"
                        class="position"></a>

                <p th:if="${!mark.isEmpty()}" th:text="${mark}"></p>
            </div>
        </section>
        <aside>
            <section class="space-medium">
                <h3>Game status:</h3>
                <p th:text="${gameStatus}" class="status"></p>
            </section>
            <section>
                <a th:href="@{/game/select}">Play new game</a>
            </section>
        </aside>
    </main>
</body>
</html>