* {
    box-sizing: border-box;
    }

body {
    background-color: black;
    color: grey;
    font-family: Arial, san-serif;
    text-align: center;
    font-size: 16px;
    }

main {
    margin: 0 auto;
    width: 800px;
    }

h1 {
    color: springgreen;
    }

h2 {
    color: darkgray;
    }

a {
    text-decoration: none;
    }

.game-selector {
    width: 800px;
    margin: 0 auto;
    }

.game-option {
    display: block;
    float: left;
    width: 400px;
    height: 200px;
    color: darkturquoise;
    line-height: 200px;
    border: darkgray 1px solid;
    }

.game-option:visited {
    color: darkturquoise;
    }

.game-option:hover {
    color: cyan;
    }

.space-medium {
    margin-bottom: 3em;
    }

.grid {
    width: 600px;
    margin: 0 auto;
    }

.cell {
    float: left;
    width: 200px;
    font-size: 4em;
    height: 200px;
    border: darkgray 1px solid;
    color: darkturquoise;
    }

.cell a {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0;
    }

.cell p {
    width: 200px;
    height: 200px;
    line-height: 200px;
    margin: 0;
    }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}